.Task{
    display: block;
    border: 1px solid darkorange;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 3px;
    height: 70px;
    padding: 10px;
    position: relative;
}
p{
    text-align: left;
}
.Task button{
    background: gold;
    border-radius: 3px;
    border:none;
    position: absolute;
    top: 20px;
    right: 10px;
    }
